.grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px;
    gap: 32px;
  }
  
  .card {
    background-color: peachpuff;
    border: 1px solid black;
  }

  .container2 {
    display: grid;
    /*grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;*/
    grid-template: 50px 50px / 50px 50px ;
  }

  .container3 {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
  }
  
  .item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
  }
  
  .first-row {
     background-color: pink; 
  }
  
  .last-column {
    background-color: lightblue;
  }

  .container4 {
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    background-color: lightblue; 
    grid-template-areas:
      "living-room living-room living-room living-room living-room"
      "living-room living-room living-room living-room living-room"
      "bedroom bedroom bathroom kitchen kitchen"
      "bedroom bedroom bathroom kitchen kitchen"
      "closet closet bathroom kitchen kitchen"    
  }
  
  .room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
  }
  
  #living-room {
     grid-area:  living-room;
  }
  
  #kitchen {
    grid-area: kitchen;
  }
  
  #bedroom {
    grid-area: bedroom;
  }
  
  #bathroom {
    grid-area: bathroom;
  }
  
  #closet {
    grid-area: closet;
  }
  